

{% extends 'base.html' %}

{% block content %}

<h1>Top 20 CARS's of world</h1>

<p>Click on any one of the option.</p>

<!-- pairs is a list that must be sent here by a route function

     The list will contain 45 pairs: a presidency number, and a
     president's name -->
       
    <ul>
    <li><a href="1">List of Cars with fuel type-PETROL </a></li>
    <li><a href="2">List of Cars with fuel type-DIESEL </a></li>
    <li><a href="3">List of Cars with fuel type-GASOLINE </a></li>
    <li><a href="4"> List of all cars </a></li>
    
    <ul>
    
{% endblock %}




